<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\nasir\anaconda3\lib\site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

ModuleNotFoundError: No module named 'sql'

In [17]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [4]:
%sql sqlite:///my_data1.db

UsageError: Line magic function `%sql` not found.

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [10]:
#%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

# SQL command to create a new table
sql_command = """
CREATE TABLE SPACEXTABLE AS 
SELECT * FROM SPACEXTBL 
WHERE Date IS NOT NULL;
"""

# Execute the SQL command
cur.execute(sql_command)

# Commit the changes to the database
con.commit()

# Close the connection
#con.close()

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [13]:
# SQL command to select unique launch sites
sql_command = """
SELECT DISTINCT "Launch_Site" FROM SPACEXTBL;
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
launch_sites = cur.fetchall()

# Print each launch site
for site in launch_sites:
    print(site[0])

# Close the connection
#con.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [14]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to select records where launch sites begin with 'KSC'
sql_command = """
SELECT * FROM SPACEXTBL
WHERE "Launch_Site" LIKE 'KSC%' 
LIMIT 5;
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
records = cur.fetchall()

# Print each record
for record in records:
    print(record)

# Close the connection
con.close()

('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')
('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt')
('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)')
('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)')
('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [20]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to sum payload mass for launches by NASA (CRS)
sql_command = """
SELECT SUM("PAYLOAD_MASS__KG_") AS Total_Payload_Mass
FROM SPACEXTBL
WHERE "Customer" = 'NASA (CRS)';
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch the result
total_payload_mass = cur.fetchone()

# Check if the result is not None
if total_payload_mass[0] is not None:
    print("Total payload mass carried by boosters launched by NASA (CRS):", total_payload_mass[0], "kg")
else:
    print("No data available for NASA (CRS) launches or payload mass is not recorded.")

# Close the connection
con.close()

Total payload mass carried by boosters launched by NASA (CRS): 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [21]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to calculate the average payload mass for the booster version 'F9 v1.1'
sql_command = """
SELECT AVG("PAYLOAD_MASS__KG_") AS Average_Payload_Mass
FROM SPACEXTBL
WHERE "Booster_Version" = 'F9 v1.1';
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch the result
average_payload_mass = cur.fetchone()

# Check if the result is not None
if average_payload_mass[0] is not None:
    print("Average payload mass carried by booster version F9 v1.1:", round(average_payload_mass[0], 2), "kg")
else:
    print("No data available for booster version F9 v1.1 or payload mass is not recorded.")

# Close the connection
con.close()

Average payload mass carried by booster version F9 v1.1: 2928.4 kg

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [23]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to find the earliest date of a successful drone ship landing
sql_command = """
SELECT MIN("Date") AS Earliest_Successful_Landing
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (drone ship)';
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch the result
earliest_landing_date = cur.fetchone()

# Check if the result is not None
if earliest_landing_date[0] is not None:
    print("The earliest successful drone ship landing was on:", earliest_landing_date[0])
else:
    print("No successful drone ship landings recorded.")

# Close the connection
con.close()

The earliest successful drone ship landing was on: 2016-04-08

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [24]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to list booster names with successful ground pad landings and specific payload mass range
sql_command = """
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "Landing_Outcome" = 'Success (ground pad)'
AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
boosters = cur.fetchall()

# Check if results were found
if boosters:
    print("Boosters with successful ground pad landings and payload mass between 4000 and 6000 kg:")
    for booster in boosters:
        print(booster[0])
else:
    print("No boosters found meeting the criteria.")

# Close the connection
con.close()

Boosters with successful ground pad landings and payload mass between 4000 and 6000 kg:
F9 FT B1032.1
F9 B4 B1040.1
F9 B4 B1043.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [25]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to count successful and failed mission outcomes
sql_command = """
SELECT "Mission_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTBL
WHERE "Mission_Outcome" LIKE '%Success%' OR "Mission_Outcome" LIKE '%Failure%'
GROUP BY "Mission_Outcome";
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
outcomes = cur.fetchall()

# Print the outcomes
if outcomes:
    for outcome in outcomes:
        print(f"Outcome: {outcome[0]}, Count: {outcome[1]}")
else:
    print("No successful or failed mission outcomes found.")

# Close the connection
con.close()

Outcome: Failure (in flight), Count: 1
Outcome: Success, Count: 98
Outcome: Success , Count: 1
Outcome: Success (payload status unclear), Count: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [26]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to list booster versions that have carried the maximum payload mass
sql_command = """
SELECT "Booster_Version"
FROM SPACEXTBL
WHERE "PAYLOAD_MASS__KG_" = (
    SELECT MAX("PAYLOAD_MASS__KG_")
    FROM SPACEXTBL
);
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
booster_versions = cur.fetchall()

# Print the booster versions
if booster_versions:
    print("Booster versions that have carried the maximum payload mass:")
    for booster in booster_versions:
        print(booster[0])
else:
    print("No data found for maximum payload mass.")

# Close the connection
con.close()

Booster versions that have carried the maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

In [28]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to list desired records for the year 2017 and successful landings on a ground pad
sql_command = """
SELECT 
    substr(Date, 6, 2) AS Month,
    "Booster_Version",
    "Launch_Site",
    "Landing_Outcome"
FROM SPACEXTBL
WHERE 
    substr(Date, 1, 4) = '2017' AND
    "Landing_Outcome" = 'Success (ground pad)';
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
records = cur.fetchall()

# Check if results were found
if records:
    print("Month, Booster Version, Launch Site, Landing Outcome")
    for record in records:
        # Mapping the numeric month to month name, if needed
        month_number = int(record[0])
        month_name = ["January", "February", "March", "April", "May", "June",
                      "July", "August", "September", "October", "November", "December"][month_number - 1]
        
        print(f"{month_name}, {record[1]}, {record[2]}, {record[3]}")
else:
    print("No records found for 2017 with successful landings on a ground pad.")

# Close the connection
con.close()

Month, Booster Version, Launch Site, Landing Outcome
February, F9 FT B1031.1, KSC LC-39A, Success (ground pad)
May, F9 FT B1032.1, KSC LC-39A, Success (ground pad)
June, F9 FT B1035.1, KSC LC-39A, Success (ground pad)
August, F9 B4 B1039.1, KSC LC-39A, Success (ground pad)
September, F9 B4 B1040.1, KSC LC-39A, Success (ground pad)
December, F9 FT  B1035.2, CCAFS SLC-40, Success (ground pad)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [29]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL command to count and rank landing outcomes between specified dates
sql_command = """
SELECT "Landing_Outcome", COUNT(*) AS Outcome_Count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY Outcome_Count DESC;
"""

# Execute the SQL command
cur.execute(sql_command)

# Fetch all results
outcomes = cur.fetchall()

# Check if results were found
if outcomes:
    print("Landing Outcome, Count")
    for outcome in outcomes:
        print(f"{outcome[0]}, {outcome[1]}")
else:
    print("No landing outcomes recorded between 2010-06-04 and 2017-03-20.")

# Close the connection
con.close()

Landing Outcome, Count
No attempt, 10
Success (drone ship), 5
Failure (drone ship), 5
Success (ground pad), 3
Controlled (ocean), 3
Uncontrolled (ocean), 2
Failure (parachute), 2
Precluded (drone ship), 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>